.Body {
  margin: 1rem 0rem;
}

.blue {
  background-color: #0d6efd;
  color: aliceblue;
  width: fit-content;
  height: fit-content;
  padding: 3px;
  border-radius: 10%;
}

.desc {
  font-size: small;
  font-family: "Poppins", sans-serif;
}

.Assignee {
  font-size: medium;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.editButton {
  padding: 0%;
}

.actionbuttonscontainer {
  width: 100%;
  height: 100%;
  background-color: #f3f1f2;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.border {
  border-bottom: 3px solid #fff;
  margin: 5px 0;
}