.Body {
  margin: 1rem 0rem;
}

.blue {
  background-color: #0d6efd;
  color: aliceblue;
  width: fit-content;
  height: fit-content;
  padding: 3px;
  border-radius: 10%;
}

.desc {
  font-size: small;
  font-family: "Poppins", sans-serif;
}

.Assignee {
  font-size: medium;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.editButton {
  padding: 0%;
}